<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf8' />
        <title>404 Not Found</title>
        <link rel='stylesheet' href='/css/styles.css' />
        <link rel='icon' href='/img/weather_icon.png' />
    </head>
    <body>
        <div class='main-content'>
            {{>header}}
            <h1>404 Not Found</h1>
            <p>{{error_message}}</p>
        </div>
        {{>footer}}
    </body>
</html>